<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="나혼자 산탄다"/>
    <meta property="og:description" content="혼자 산 타려니 막막한 혼산러, 등린이들 모여라! 등산 경험을 공유하고 유익한 정보도 얻어보세요!"/>
    <meta property="og:image" content="{{ url_for('static', filename='og_img.png') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Noto+Sans+KR:wght@100;400;500;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <title>나혼자 산탄다</title>
    <script>
        $(document).ready(function () {
        });
    </script>
</head>
<body>
<div class="wrap">
    <div class="banner_area">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">나혼자 산탄다!</h1>
                <p class="lead">혼자 산 타려니 막막한 혼산러, 등린이들 모여라! 등산 경험을 공유하고 유익한 정보도 얻어보세요!</p>
            </div>
        </div>
    </div>
    <div class="contents">
        <div class="container">
            <section>
                <div class="form_area login">
                    <form>
                        <div class="form-group row">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="아이디">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="">중복확인</button>
                                </div>
                            </div>
                            <p id="help-id" class="help">아이디는 2-10자의 영문과 숫자와 일부 특수문자(._-)만 입력 가능합니다.</p>
                        </div>
                        <div class="form-group row">
                            <div class="input-group">
                                <input type="password" class="form-control" id="inputPassword" placeholder="비밀번호">
                            </div>
                            <p id="help-password" class="help">영문과 숫자 조합의 8-20자의 비밀번호를 설정해주세요. 특수문자(!@#$%^&*)도 사용
                                가능합니다.</p>
                        </div>
                        <div class="form-group row">
                            <button class="btn btn-secondary btn-block">로그인</button>
                        </div>
                        <hr>
                        <h4 class="help help-lg">아직 회원이 아니라면?</h4>
                        <div class="form-group row">
                            <button class="btn btn-outline-secondary btn-block">회원 가입하기</button>
                        </div>
                        <div class="form-group row">
                            <div class="input-group">
                                <input type="password" class="form-control" id="inputPasswordCheck"
                                       placeholder="비밀번호 재입력">
                            </div>
                            <p id="help-password2" class="help">비밀번호를 다시 한 번 입력해주세요.</p>
                        </div>
                        <div class="btn_area">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-outline-secondary btn-block">취소</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-secondary btn-block">회원가입</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>