<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="나혼자 산탄다"/>
    <meta property="og:description" content="혼자 산 타려니 막막한 혼산러, 등린이들 모여라! 등산 경험을 공유하고 유익한 정보도 얻어보세요!"/>
    <meta property="og:image" content="{{ url_for('static', filename='og_img.png') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Noto+Sans+KR:wght@100;400;500;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <title>나혼자 산탄다</title>
    <script>
        $(document).ready(function () {
        });
    </script>
</head>
<body>
<div class="wrap">
    <div class="banner_area">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">나혼자 산탄다!</h1>
                <p class="lead">혼자 산 타려니 막막한 혼산러, 등린이들 모여라! 등산 경험을 공유하고 유익한 정보도 얻어보세요!</p>
            </div>
        </div>
    </div>
    <div class="contents">
        <div class="container">
            <section>
                <div class="form_area">
                    <form>
                        <div class="form-group">
                            <p class="form_ttl">사진 등록</p>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">업로드할 사진을 선택하세요.</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mountain" class="form_ttl">산 이름</label>
                            <input type="text" class="form-control" id="mountain">
                        </div>
                        <div class="form-group">
                            <label for="hikingRoute" class="form_ttl">등산 코스명</label>
                            <input type="text" class="form-control" id="hikingRoute">
                        </div>
                        <div class="form-group">
                            <label for="location" class="form_ttl">지역명</label>
                            <input type="text" class="form-control" id="location">
                        </div>
                        <div class="form-group">
                            <p class="form_ttl">편의시설</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fa1">
                                <label class="form-check-label" for="fa1">비교적 깨끗한 화장실</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fa2">
                                <label class="form-check-label" for="fa2">대피소</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fa3">
                                <label class="form-check-label" for="fa3">대중교통</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fa4">
                                <label class="form-check-label" for="fa4">주차장</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="fa5">
                                <label class="form-check-label" for="fa5">하산 후 먹거리</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="etc" class="form_ttl">소감 및 기타 정보</label>
                            <textarea type="text" class="form-control" id="etc"></textarea>
                        </div>
                        <div class="btn_area taC">
                            <button type="submit" class="btn btn-outline-secondary btn-lg">취소</button>
                            <button type="submit" class="btn btn-secondary btn-lg">저장</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>